In [10]:
import pandas as pd

In [11]:
filepath = '../data/raw/year-month-circle-and-service-provider-wise-number-of-subscriptions-to-wireline-and-wireless-telecom-services-in-india.csv'
df = pd.read_csv(filepath, dtype={5: str})  # or float, int, etc.

In [12]:
df.head()

,year,month,circle,type_of_connection,service_provider,value,unit,notes
0,2025,April,Andhra Pradesh,wireless,Bharti Airtel (Including Tata Tele.),33965795,value in absolute number,NaN
1,2025,April,Assam,wireless,Bharti Airtel (Including Tata Tele.),12314102,value in absolute number,NaN
2,2025,April,Bihar,wireless,Bharti Airtel (Including Tata Tele.),40967773,value in absolute number,NaN
3,2025,April,Delhi,wireless,Bharti Airtel (Including Tata Tele.),18877637,value in absolute number,NaN
4,2025,April,Gujarat,wireless,Bharti Airtel (Including Tata Tele.),12401101,value in absolute number,NaN

In [13]:
df.notes.value_counts()

notes
service_provide: M/s Etisalat, S Tel and Loop (except for Mumbai circle) have submitted that there are no active subscribers on their network hence their figures have been taken as Zero.    69
service_provide: Due to non-submission of data for March, 2012, the figures for M/s Etisalat and M/s Loop (except Mumbai) are taken as on February 2012.                                      69
service_provider: License of M/s Loop Mobile has been expired on 29.11.2014.                                                                                                                  23
service_provider: The subscriber figures of S Tel are taken as on January 2012, due to non-submission of information for Feb-2012.                                                            23
value: Feb-2010 figure, since corrected by Sistema.                                                                                                                                           23
                                                                                                                                                                                              ..
service_provider: FTTH Voice-connections have also been incorporated from the month of May 2056                                                                                                1
service_provider: FTTH Voice-connections have also been incorporated from the month of May 2057                                                                                                1
service_provider: FTTH Voice-connections have also been incorporated from the month of May 2058                                                                                                1
service_provider: FTTH Voice-connections have also been incorporated from the month of May 2059                                                                                                1
service_provider: FTTH Voice-connections have also been incorporated from the month of May 2060                                                                                                1
Name: count, Length: 69, dtype: int64

In [14]:
df.service_provider.value_counts()

service_provider
BSNL                                                 8650
Bharti Airtel                                        7391
Reliance Communications                              5997
MTNL                                                 5647
Vodafone                                             4064
Reliance Jio                                         3772
Vodafone Idea                                        3325
Tata Teleservices                                    2936
Idea                                                 2682
Sistema                                              2577
Tata                                                 2533
Reliance                                             2490
Quadrant                                             1862
Aircel                                               1843
Videocon                                             1748
BSNL (VNOs)                                          1729
Tata Telecommunication                               1405
Loop                                                 1357
S-Tel                                                 830
Aircel/Dishnet                                        805
Telenor                                               759
HFCL                                                  754
Uninor                                                646
Telewings                                             506
Bharti Airtel (Including Tata Tele.)                  460
Unitech                                               437
Quadrant (HFCL)                                       392
Etisalat                                              391
Etisalat/Allianz                                      368
APSFL                                                 368
HFCL Infotel                                          343
Vodafone Essar                                        337
Sistema Shyam Teleservices Ltd                        313
V-CON Mobile & Infra Pvt. Ltd.                        253
Loop Telecom Pvt. Ltd.                                250
Spice                                                 193
STPL                                                  115
BPL Mobile                                             87
Idea/Spice                                             47
Bharti Airtel (including Tata Telecommunications)      46
Systema Shyam Teleservices Ltd.                        16
Teleservice Ltd.                                        4
Name: count, dtype: int64

In [15]:
df.year.value_counts().sort_index()

year
2009    4774
2010    5371
2011    5193
2012    5734
2013    4844
2014    4857
2015    4584
2016    4511
2017    4180
2018    3673
2019    3417
2020    3498
2021    3554
2022    3706
2023    2668
2024    4692
2025    1472
Name: count, dtype: int64

In [16]:
df.type_of_connection.value_counts()

type_of_connection
wireless    47465
wireline    23263
Name: count, dtype: int64

In [17]:
df.unit.value_counts()

unit
value in absolute number    70728
Name: count, dtype: int64

In [18]:
df.circle.nunique()

38