In [1]:
import pandas as pd
import numpy as np
from src.data_preprocessing import data_assessment

ModuleNotFoundError: No module named 'src'

# Initial data Access and Assessment

In [1]:
filepath = '../data/raw/telecom_market_data.csv'
df = pd.read_csv(filepath,dtype={5: str})
df.head()

NameError: name 'pd' is not defined

## Initial Data Assessment

In [ ]:

initial_assessment_report = data_assessment(df)
initial_assessment_report

,Column,Data Type,Non-Null Count,Null Count,Unique Values,outliers,Sample Values
0,year,int64,70728,0,17,0,"[2025, 2024, 2023, 2022, 2021]"
1,month,object,70728,0,12,N/A,"[April, March, February, January, December]"
2,circle,object,70728,0,38,N/A,"[Andhra Pradesh, Assam, Bihar, Delhi, Gujarat]"
3,type_of_connection,object,70728,0,2,N/A,"[wireless, wireline]"
4,service_provider,object,70728,0,42,N/A,"[Bharti Airtel (Including Tata Tele.), Relianc..."
5,value,object,58396,12332,47175,N/A,"[33965795, 12314102, 40967773, 18877637, 12401..."
6,unit,object,70728,0,1,N/A,[value in absolute number]
7,notes,object,511,70217,69,N/A,[service_provider: License of M/s Loop Mobile ...